*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    background-color: rgb(206, 255, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 600px;
    height: 630px;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgba(175, 175, 175, 0.589);
    margin: 1rem;
}
.up-heading h3{
    font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
    color: rgb(97, 2, 97);
    margin-bottom: 5px;
}
.input,
textarea{
    width: 100%;
    margin: 7px 0;
    background-color: rgba(223, 223, 223, 0.432);
    border: none;
    padding: 1rem;
    box-shadow: 1px 1px 4px rgba(204, 204, 204, 0.514) inset;
}
textarea{
    margin-top: 0;
}

.input:focus,
textarea:focus{
    outline: none;
}

.form input{
    display: block;
}
.button{
    background-color: rgb(59, 1, 97);
    color: white;
    padding: 0.7rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

/* Down */

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height: 100px;
}

.f{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.img{
    width: 25px;
    height: auto;
}
.img img{
    width: 100%;
}
.phone{
    width: 20px;
}
.name{
    font-weight: bold;
}
.data{
    color: gray;
    white-space: nowrap;
    font-size: .8rem;
}
@media (min-width:800px){
    .page{
        display: flex;
        flex-direction: row-reverse;
        height: 500px;
        width: 1000px;
        justify-content: space-evenly;
    }
    .down{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        justify-content: space-evenly;
        height: 90%;
        margin-top: 0;
    }
    .up{
        width: 65%;
    }
}

@media (max-width:450px){
    .down{
        flex-wrap: wrap;   
        column-gap: 10px;
    }

    .page{
        height: 680px;
    }
}