*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1000px;
    background-color: aliceblue;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.384);
}
.page{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 0.5rem;
    position: relative;
}
.header{
    font-weight: bold;
    font-size: clamp(1.4rem, 1vw + 1.3rem, 2.6rem);
}
.right-side{
    width: 80%;
    margin-left: 1rem;
    position: relative;
    overflow:auto;
}
.left-side{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    letter-spacing: 1px;
    align-items: center;
    text-transform: capitalize;
    height: 290px;
    position: relative;
    margin-left: 1rem;
}
.left-side div{
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.left-side label{
    z-index: 100;
}
.indicator{
    position: absolute;
    height: 40px;
    width: 90px;
    background-color: rgb(3, 84, 87);
    border-radius: 12px;
    top: -11px;
    transition: all 0.6s;
}
.left-side div:hover{
    color: rgb(0, 194, 228);
}
#home:checked ~ .left-side .home,
#blog:checked ~ .left-side .blog,
#help:checked ~ .left-side .help,
#code:checked ~ .left-side .code,
#about:checked ~ .left-side .about{
    color: rgb(255, 255, 255);
}
#blog:checked ~ .left-side .indicator{
    top: 56px;
}
#help:checked ~ .left-side .indicator{
    top: 125px;
}
#code:checked ~ .left-side .indicator{
    top: 192px;
}
#about:checked ~ .left-side .indicator{
    top: 260px;
}
.page input{
    display: none;
}

.text{
    margin-top: 0.9rem;
}
.heading-text{
    font-weight: bold;
    font-size: clamp(1rem, 1vw + 0.8rem, 2rem);
}
.text{
    display: none;
}

#home:checked ~ .right-side .home,
#blog:checked ~ .right-side .blog,
#help:checked ~ .right-side .help,
#code:checked ~ .right-side .code,
#about:checked ~ .right-side .about{
    display: block;
}


#blog:checked ~ .right-side .home,
#help:checked ~ .right-side .home,
#code:checked ~ .right-side .home,
#about:checked ~ .right-side .home{
    display: none;
}